---
import services from "../components/services.astro"
---
<main class="flex items-center justify-center ">
  <div class="text-center px-6 text-gray-800">
   
    <p class="text-lg leading-relaxed max-w-2xl mx-auto">
      We are a leading software house providing end-to-end solutions in
      <span class="font-semibold">Web Development, App Development, ERP, and CMS</span>.  
      Our team is dedicated to delivering scalable, modern, and user-friendly
      digital solutions tailored to your business needs.  
    </p>
    <p class="mt-4 text-md font-medium pb-20">
      Head Office: Lahore, Pakistan
    </p>
  
  </div>
</main>

